@page "/search-duplicates"
@using AStar.Web.UI.ApiClients.FilesApi
@using AStar.Web.UI.Shared
@using AStar.Web.UI.Components
@using static AStar.Utilities.StringExtensions

<LoadingIndicator @ref="loadingIndicator">
    <Accordion>
        <AccordionItem @bind-Visible="@accordionItem1Visible" Background="Background.Primary">
            <AccordionHeader Background="Background.Primary">
                <Heading Size="HeadingSize.Is5">
                    <AccordionToggle>Search for Duplicates</AccordionToggle>
                </Heading>
            </AccordionHeader>
            <AccordionBody>
                <Row>
                    <Column ColumnSize="ColumnSize.Is12.OnDesktop">
                        <Card Margin="Margin.Is4.FromBottom">
                            <CardBody Background="Background.Primary">
                                <Fields>
                                    <Field Horizontal>
                                        <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">                                            
                                            <Tooltip Text="This is the folder (aka directory) where you want the search to start from. As a minimum, it must be a valid UNC path - e.g.: 'c:\'." Multiline="true"><span>Search Folder </span><span class="oi oi-question-mark info" aria-hidden="true"></span></Tooltip>
                                        </FieldLabel>
                                        <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">                                            
                                                <TextEdit Placeholder="Please specify the starting folder" @bind-text="@startingFolder" id="startingFolder" />
                                        </FieldBody>
                                    </Field>
                                    <Field Horizontal>
                                        <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">
                                            Groups Per Page
                                        </FieldLabel>
                                        <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
                                            <NumericPicker @bind-Value="@itemsOrGroupsPerPage" ModifyValueOnWheel
                                                           WheelOn="NumericWheelOn.Hover" Step="5" Min="5" Max="50"
                                                           id="itemsPerPage" />
                                        </FieldBody>
                                    </Field>
                                </Fields>
                                <Fields>
                                    <Field Horizontal>
                                        <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">
                                            Search Type
                                        </FieldLabel>
                                        <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
                                            <Select @bind-SelectedValue="@searchType" id="searchType" Disabled>
                                                <SelectItem Value="2">Duplicates</SelectItem>
                                            </Select>
                                        </FieldBody>
                                    </Field>
                                    <Field Horizontal>
                                        <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">
                                            Sort Order
                                        </FieldLabel>
                                        <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
                                            <Select @bind-SelectedValue="@sortOrder" id="sortOrder">
                                                <SelectItem Value="0">Size Descending</SelectItem>
                                                <SelectItem Value="1">Size Ascending</SelectItem>
                                                <SelectItem Value="2">Name Descending</SelectItem>
                                                <SelectItem Value="3">Name Ascending</SelectItem>
                                            </Select>
                                        </FieldBody>
                                    </Field>
                                </Fields>
                                <Fields>
                                    <Field Horizontal JustifyContent="JustifyContent.End">
                                        <FieldBody ColumnSize="ColumnSize.Is9.Is3.WithOffset">
                                            <Switch TValue="bool" @bind-Checked="@recursiveSearch">
                                                Recursive Search?
                                            </Switch>
                                            <Switch TValue="bool" @bind-Checked="@excludeViewed">
                                                Exclude Viewed 7 Days?
                                            </Switch>
                                        </FieldBody>
                                    </Field>
                                    <Field Horizontal JustifyContent="JustifyContent.End">
                                        <FieldBody ColumnSize="ColumnSize.Is9.Is3.WithOffset">
                                            <Button Color="Color.Success" Clicked="StartSearch"
                                                    id="startSearch">
                                                Submit
                                            </Button>
                                        </FieldBody>
                                    </Field>
                                </Fields>
                            </CardBody>
                        </Card>
                    </Column>
                </Row>
            </AccordionBody>
        </AccordionItem>
        <AccordionItem @bind-Visible="@accordionItem3Visible" Background="Background.Primary">
            <AccordionHeader>
                <Heading Size="HeadingSize.Is5">
                    <AccordionToggle>Search Results</AccordionToggle>
                </Heading>
            </AccordionHeader>
            <AccordionBody>
                <Row>
                    <Column ColumnSize="ColumnSize.Is10">
                        <Pagination Background="Background.Primary">
                            <PaginationItem Disabled="@IsPageNavigationDisabled(PREVIOUS)" @onclick="Previous">
                                <PaginationLink Background="Background.Warning">
                                    <span aria-hidden="true">« Previous</span>
                                </PaginationLink>
                            </PaginationItem>
                            @{
                                foreach(var pageOrdinal in pagesForPagination)
                                {
                                    var pageNumberAsString = pageOrdinal.ToString();
                                    <PaginationItem @key="pageNumberAsString" Active="@IsActive(pageNumberAsString)">
                                        <PaginationLink Page="@pageNumberAsString" Clicked="SetActive" Background="Background.Warning">
                                            @pageNumberAsString
                                        </PaginationLink>
                                    </PaginationItem>
                                }
                            }
                            <PaginationItem Disabled="@IsPageNavigationDisabled(NEXT)" @onclick="Next">
                                <PaginationLink Background="Background.Warning">
                                    <span aria-hidden="true">Next »</span>
                                </PaginationLink>
                            </PaginationItem>
                        </Pagination>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is2">
                        <Select TValue="int" SelectedValue="@currentPageAsInt" SelectedValueChanged="@OnSelectedValueChanged">
                            @{
                                foreach(var pageNumber in pages)
                                {
                                    <SelectItem Selected="@(pageNumber == currentPageAsInt)" Value="@pageNumber.ToString()">Page @pageNumber.ToString()</SelectItem>
                                }
                            }
                        </Select>
                    </Column>                        
                </Row>
                <Row>
                    @foreach(var fileGroup in FileGroups)
                    {
                        var imageDivClass = "imageDiv";
                        <table>
                            <thead>
                                <th>
                                <h2 class="centre"><br />@fileGroup.Files.Count() Duplicate Files in Group<br />Size: @fileGroup.Group.FileSizeForDisplay, Width: @fileGroup.Group.Width, Height: @fileGroup.Group.Height</h2>
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @foreach(var file in fileGroup.Files)
                                        {
                                            <div class="@imageDivClass">
                                            <h4>@file.Name</h4>
                                            <br />
                                                <ImageComponent ImageName="@file.Name" ImageFullName="@file.FullName" ImageSize="850"></ImageComponent>
                                                <br />
                                                <div><strong>Directory Name:</strong> @file.DirectoryName</div>
                                                <div><strong>File Name:</strong> @file.Name</div>
                                                <div><strong>Size:</strong> <span width="150pt" display: "inline-block;"> @file.SizeForDisplay</span><strong>Width x Height:</strong> @file.Width x @file.Height</div>
                                                <div><strong>Details Last Updated:</strong> @file.DetailsLastUpdated?.ToString("R")</div>
                                                <div><strong>Previously Viewed:</strong> @file.LastViewed?.ToString("R")</div>
                                                <div>
                                                    @if(file.SoftDeletePending)
                                                    {
                                                        <Button Clicked="@(()=>UndoMarkForSoftDeletion(file.FullName))" Color="Color.Success">Undo Soft Delete</Button>
                                                    }
                                                    else
                                                    {
                                                        <Button Clicked="@(()=>MarkForSoftDeletion(file.FullName))" Color="Color.Warning">Soft Delete</Button>
                                                    }
                                                    @if(file.HardDeletePending)
                                                    {
                                                        <Button Clicked="@(()=>UndoMarkForHardDeletion(file.FullName))" Color="Color.Success">Undo Hard Delete</Button>                                                        
                                                    }
                                                    else
                                                    {
                                                        <Button Clicked="@(()=>MarkForHardDeletion(file.FullName))" Color="Color.Danger">Hard Delete</Button>
                                                    }
                                                    @if(file.NeedsToMove)
                                                    {
                                                        <Button Clicked="@(()=>UndoMarkForMoving(file.FullName))" Color="Color.Success">Undo Move/Rename</Button>
                                                    }
                                                    else
                                                    {
                                                        <Button Clicked="@(()=>MarkForMoving(file.FullName))" Color="Color.Info">Move/Rename</Button>
                                                    }
                                                </div>
                                            </div>

                                            imageDivClass = "imageDiv2";
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </Row>
                <Row>
                    <Column ColumnSize="ColumnSize.Is10">
                        <Pagination Background="Background.Primary">
                            <PaginationItem Disabled="@IsPageNavigationDisabled(PREVIOUS)" @onclick="Previous">
                                <PaginationLink Background="Background.Warning">
                                    <span aria-hidden="true">« Previous</span>
                                </PaginationLink>
                            </PaginationItem>
                            @{
                                foreach(var pageOrdinal in pagesForPagination)
                                {
                                    var pageNumberAsString = pageOrdinal.ToString();
                                    <PaginationItem @key="pageNumberAsString" Active="@IsActive(pageNumberAsString)">
                                        <PaginationLink Page="@pageNumberAsString" Clicked="SetActive" Background="Background.Warning">
                                            @pageNumberAsString
                                        </PaginationLink>
                                    </PaginationItem>
                                }
                            }
                            <PaginationItem Disabled="@IsPageNavigationDisabled(NEXT)" @onclick="Next">
                                <PaginationLink Background="Background.Warning">
                                    <span aria-hidden="true">Next »</span>
                                </PaginationLink>
                            </PaginationItem>
                        </Pagination>
                    </Column>
                    <Column ColumnSize="ColumnSize.Is2">
                        <Select TValue="int" SelectedValue="@currentPageAsInt" SelectedValueChanged="@OnSelectedValueChanged">
                            @{
                                foreach(var pageNumber in pages)
                                {
                                    <SelectItem Selected="@(pageNumber == currentPageAsInt)" Value="@pageNumber.ToString()">Page @pageNumber.ToString()</SelectItem>
                                }
                            }
                        </Select>
                    </Column>
                </Row>
            </AccordionBody>
        </AccordionItem>
    </Accordion>
</LoadingIndicator>
