@using AStar.Web.UI.Components.Layout

@inherits LayoutComponentBase
<header>
    <TopMenu ThemeEnabledChanged="@OnThemeEnabledChanged"
             ThemeGradientChanged="@OnThemeGradientChanged"
             ThemeRoundedChanged="@OnThemeRoundedChanged"
             ThemeColorChanged="@OnThemeColorChanged"
             @bind-LayoutType="@layoutType" />
</header>
<main>
    @Body
</main>
<footer>Copyright &copy; AStar Development, 2024</footer>
